<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Deepdatas - {% endblock %}</title>

        <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="Portal - Deepdatas">
    <link rel="shortcut icon" href="favicon.ico"> 
    
    <!-- FontAwesome JS-->
    <script defer src="assets/plugins/fontawesome/js/all.min.js"></script>
    
    <!-- App CSS -->  
    <link id="theme-style" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>
	{% block body %} 

	{% endblock %}
</body>
</html>